/**
 * colors
 */
$main-color: #03A9F4;
$darker-main-color: #008BD6;

/**
 * sizes
 */
$max-smartphone-width: 768px;
$max-small-smartphone-width: 500px;
$min-desktop-width: 1024px;
$normal-screen-body-width: 400px;
$max-screen-body-width: 700px;

/*
 * Main component padding
 */
$main-padding: 10px;
