@import '../../styles/conf';

#navbar-top {
    .menu-flexbox {
        & {
            display: flex;
            align-items: center;
            justify-content: space-around;
            width: $normal-screen-body-width;
            margin: auto;
        }

        @media all and(max-width: $min-desktop-width) {
            & {
                width: 100%;
            }
        }

        .item {
            color: white;
            flex-grow: 1;
            display: block;
            text-align: center;
            border-top: 3px solid transparent;
            border-bottom: 3px solid transparent;

            &:hover, &:active, &.active {
                background-color: transparent;
            }

            &.active {
                border-bottom: 3px solid white;
                border-radius: initial;
            }

            &.search {
                position: absolute;
                padding: 0 !important;
                width: 277px;
                z-index: 50;

                input {
                    padding: 0.5 * $main-padding $main-padding !important;
                    font-size: 16px;
                }
                .search.link.icon {
                    font-size: 14px;
                }
            }
        }

        .icon {
            font-size: 20px;
            margin: 0;
        }
    }
}
