<nav class="ui secondary menu" id="navbar-top">
    <div class="menu-flexbox">
        <a class="item search-tab"
            (click)="search()">
            <i class="search icon"></i>
        </a>
        <a class="item active"
            routerLink="/ranking"
            routerLinkActive="active">
            <i class="circle notched icon"></i>
        </a>
        <a class="item"
            routerLink="/others"
            routerLinkActive="active">
            <i class="ellipsis horizontal icon"></i>
        </a>
    </div>
</nav>
