@import '../../styles/conf';

#search-box-container {
    width: $normal-screen-body-width;

    @media screen and(max-width: $max-smartphone-width) {
        width: 100%;
    }
}

.identity {
    width: 235px;

    .name {
        font-size: 16px;
    }

    .ui.avatar.image {
        width: 50px !important;
        height: 50px !important
    }

    @media all and(max-width: $max-small-smartphone-width) {
        width: 200px;

        .name {
            font-size: 13px;
        }
    }
}

img.twin {
    width: 50px !important;
    height: 50px !important
}

button.ranking-button {
    width: 120.5px;

    @media all and(max-width: $max-small-smartphone-width) {
        width: 95px;
        font-size: 13px;
    }
}

#loader-ranking-item {
    height: 50px;
}
