<div class="ui text-center search margin top bottom right left large">
  <div id="search-box-container" class="ui icon input">
    <input #searchBox (keyup)="search( searchBox.value )" class="prompt" type="text" placeholder="Search people...">
    <i class="search icon"></i>
  </div>
  <div class="results"></div>
</div>

<div class="ui middle aligned divided list large background white border solid grey radius margin no-vertical main-padding-vertical main-padding-horizontal">
  <!-- Friends -->
  <div *ngFor="let friend of friends" class="item flex items-center space-between">
    <div class="content identity clickable" (click)="gotoProfile( friend )">
      <img class="ui avatar image" src="{{ friend.picture.data.url }}">
      <span class="name">{{ friend.name }}</span>
    </div>
    <div *ngIf="100 == friend.correlation">
        <img class="ui avatar image twin" src="/public/assets/images/logo.png">
    </div>
    <div *ngIf="null === friend.correlation || 100 > friend.correlation">
        <div class="relative">
            <div [ngClass]="setCircleProgressClasses( friend )">
              <span>{{ null !== friend.correlation ? friend.correlation : '?' }} %</span>
              <div class="slice">
                <div class="bar"></div>
                <div class="fill"></div>
              </div>
            </div>
        </div>
    </div>
    <button (click)="share( friend )" class="button default ranking-button"><i class="share alternate icon"></i> {{ 'button.share' | translate }}</button>
  </div>

  <!-- Loader -->
    <div id="loader-ranking-item" class="item flex items-center justify-center display none">
        <div class='uil-ripple-css' style='transform:scale(0.2);'>
            <div></div>
            <div></div>
        </div>
    </div>
</div>
