@import 'styles/conf';
@import 'styles/std';
@import 'styles/buttons';
@import 'styles/lists';
@import 'styles/progress';
@import 'styles/loading';
@import 'styles/images';

html, body {
    margin: 0;
    padding: 0;
    background-color: #fafafa !important;
    overflow-y: hidden;
}
