<div class="main-padding-vertical main-padding-horizontal background white border solid grey radius no-top-radius">
    <h2 class="margin large top bottom text-center">
        <a (click)="goBack()" class="display block absolute back clickable"><i class="angle left icon"></i></a>
        <div><img class="profile picture big" src="{{ profile.picture.data.url }}" alt=""></div>
        <div>{{ profile.name }}</div>
    </h2>
    <div class="flex items-center justify-center column">
        <span class="margin bottom large">{{ 'profile.twinsWithYouAs' | translate }}</span>
        <div *ngIf="100 == profile.correlation" class="flex items-center column">
            <img class="image correlation twins" src="/public/assets/images/logo.png">
            <span class="display block margin top large">{{ 'correlations.twins' | translate }}</span>
        </div>
        <div *ngIf="null === profile.correlation || 100 > profile.correlation">
            <div class="relative flex items-center justify-center">
                <div [ngClass]="setProfileCircleProgressClasses()">
                  <span>{{ null !== profile.correlation ? profile.correlation : '?' }} %</span>
                  <div class="slice">
                    <div class="bar"></div>
                    <div class="fill"></div>
                  </div>
                </div>
            </div>
            <div *ngIf="null !== profile.correlation" class="margin top medium text-center">
                <!-- different correlation -->
                <div *ngIf="profile.correlation < 30" class="flex items-center">
                    <img src="/public/assets/images/yin-yang.svg" class="image correlation margin right">
                    <span>{{ 'correlations.different' | translate }}</span>
                </div>
                <!-- complete correlation -->
                <div *ngIf="profile.correlation >= 30 && profile.correlation < 50" class="flex items-center">
                    <img src="/public/assets/images/puzzle.svg" class="image correlation margin right">
                    <span>{{ 'correlations.complete' | translate }}</span>
                </div>
                <!-- attraction correlation -->
                <div *ngIf="profile.correlation >= 50 && profile.correlation < 70" class="flex items-center">
                    <img src="/public/assets/images/magnet.svg" class="image correlation margin right">
                    <span>{{ 'correlations.attraction' | translate }}</span>
                </div>
                <!-- direction twins! -->
                <div *ngIf="profile.correlation >= 70 && profile.correlation < 90" class="flex items-center">
                    <img src="/public/assets/images/compass.svg" class="image correlation margin right">
                    <span>{{ 'correlations.direction' | translate }}</span>
                </div>
            </div>
        </div>
        <div *ngIf="null !== profile.correlation" class="margin top large">
            <button (click)="share()" class="button default ranking-share"><i class="share alternate icon"></i> {{ 'button.share' | translate }}</button>
        </div>
    </div>
</div>

<h4 class="margin top bottom large main-padding-horizontal">{{ 'profile.hisTwins' | translate }} {{ profile.name }}</h4>
<div class="ui middle aligned divided list large background white border solid grey radius margin no-vertical main-padding-vertical main-padding-horizontal">
  <!-- No Friends -->
  <div *ngIf="friendsLoaded && 0 === allFriends.length" class="item flex items-center justify-center margin top large">
    <h4>{{ profile.name }} {{ 'profile.shareNoFriends' | translate }}</h4>
  </div>

  <!-- Friends -->
  <div *ngFor="let friend of friends" class="item flex items-center space-between">
    <div class="content identity">
      <img class="ui avatar image" src="{{ friend.picture.data.url }}">
      <span class="name">{{ friend.name }}</span>
    </div>
    <div *ngIf="100 == friend.correlation">
        <img class="ui avatar image twin" src="/public/assets/images/logo.png">
    </div>
    <div *ngIf="null === friend.correlation || 100 > friend.correlation">
        <div class="relative">
            <div [ngClass]="setCircleProgressClasses( friend )">
              <span>{{ null !== friend.correlation ? friend.correlation : '?' }} %</span>
              <div class="slice">
                <div class="bar"></div>
                <div class="fill"></div>
              </div>
            </div>
        </div>
    </div>
  </div>

  <!-- Loader -->
    <div id="loader-ranking-item" class="item flex items-center justify-center display none">
        <div class='uil-ripple-css' style='transform:scale(0.2);'>
            <div></div>
            <div></div>
        </div>
    </div>
</div>
